.match-container {


}

.match-img{
    background-color: #d8d8d8;
    height: 200px;
}

.match-info {
 text-align: left;
 list-style: none;
}

.chat-btn {
  text-decoration: none;
  border-radius: 0;
  margin: auto;
}

.swipe-container {
  height: 100%;
}
