.flex-container {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.matches-emtpy-state {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  color: #216583;
}

.match-img{
  height: fit-content;
  padding: 0px;
  overflow: hidden;
}

.match-img img{
 padding: 0px;
 margin: 0px;
 width: 100%;
}

.match-info {
  text-align: left;
  list-style: none;
  padding: 0px 0 0 20px;
  margin-top: 0;
}

.match-name {
  font-weight: bolder;
  /* margin: .2em auto; */
  color: #1d1d1d;
  text-align: left;
  margin: 8px 20px;
  /* max-width: 90vw; */
}
.match-info li {
  float: none!important;
  margin: 8px 0px;
}

.chat-btn {
  text-decoration: none;
  border-radius: 0;
  margin: auto;
}

.swipe-container {
  height: 100%;
}

.match-control-buttons{
  /* position: absolute;
  bottom: 0px;
  width: 80%; */
  display: flex;
  justify-content: space-around;
}

.match-control-chat{
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 90%;
  text-decoration: none;
 }

.match-control-accept{
 float: left;
 background-color: transparent;
 height: fit-content;
 border: none;
}

.match-control-decline{
  float: right;
  background-color: transparent;
  height: fit-content;
  border: none;
 }
