.matches {
  margin-top: 1em;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.my-matches {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  text-align: left;
  flex-grow: 1;
  overflow-y: scroll;
  margin-right: 1em;
}

.my-matches-title {
  display: block;
  max-width: 90vw;
  text-align: left;
  border-bottom: 1px solid #979797;
}

.my-matches-section {
  margin-left: 2em;
  text-align: left;
  width: 100%;
}

.match-pic {
  align-items: center;
  margin-left: 1em;
}

.edit-buttons {
  display: flex;
  flex-direction: column;
  width: 90%;
  flex-grow: 2;
  justify-content: flex-end;
  flex-shrink: 0;
}

.btn-small {
  background-color: transparent;
  color: grey;
  box-shadow: none;
  border: 1px solid grey;
  margin: .25em auto;
  width: 100%;
  min-height: 40px;
}

.sign-out-button{
  margin-top: 1em;
}
.add {
  background-color: #7bbeb9!important;
}
