.matches {
  margin-top: 1em;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height:90vh;
}

.my-matches {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  width: 80%;
  text-align: left;
  flex-grow: 1;
}

.my-matches-title {
  display: block;
  max-width: 90vw;
  text-align: left;
  border-bottom: 1px solid #979797;
}

.my-matches-section {
  margin-left: 2em;
  text-align: left;
  width: 100%;
}

.match-pic {
  align-items: center;
  margin-left: 1em;
}

.edit-buttons {
  display: inline-flex;
  width: 80%;
  justify-content: space-between;
  flex-grow: 2;
  align-items: flex-end;
}

.btn-small {
  width: 100%;
  background-color: transparent;
  color: grey;
  box-shadow: none;
  border: 1px solid grey;
}

@media screen and (max-width: 500px) {
  .btn-small {
    width: 100%;
  }

  .edit-buttons {
    width: 90%;
    height: 50px;
  }
}
