.button-profile {
  width: 90%;
  box-shadow: 2px 3px 0 0 #979797!important;
  margin-bottom: 1em!important;
  border-radius: 0px!important;
}

.next-button-profile {
  background-color: #65C0BA!important;
}

.back-button-profile {
  width: 90%;
  background-color: #eee!important;
  color: #979797;
}

.submit-button-profile span.MuiButton-label-116 {
  display: inline-block!important;
}

circle {
  color: pink;
}
