.Next {
  width: 100%;
  background-color: #7bbeb9!important;

}
.reset {
  width: 80%;
}
.profileMatches {
  width: 80%;
  background-color: #7bbeb9!important;
  color: white!important;
}
.Back {
  width: 100%;
}

.headerProfile {
  color: #346480;
}

.profileRadio {
  color: #7bbeb9 !important;
}
.MuiStepIcon-root-47  {
  color: #7bbeb9!important;
}
.MuiStepIcon-completed-49 {
  color: #7bbeb9!important;
}

.profile-stepper circle{
  color: #7bbeb9!important;
}