/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


.MuiTypography-root-40 {
  width: 100%;
}
form {
  max-width: 800px;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
}



label {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  margin: 0 20px 0 0;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.submit {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  cursor: pointer;
  background-color: #7E57C2;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
}

.submit:hover {
  background-color: #673AB7;
}

.submit:active {
  transform: translateY(1px);
}

.Progress {
  width: 80%;
} */
