.welcome-page {
  display: flex;
  flex-direction: column;
  background-color: #eee;

}
.park-selector {
  display: block;
  border: 1px solid #000;
  margin: auto;
}


.welcome-title{
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: #216583;
}
