@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
}

header {
  background-color: #216583;
  min-height: 40px; 
  z-index: 10;
  top:0px;
}

.btn{
  background-color: #65C0BA;
  width: 80%;
  height: 30px;
  color: #fff;
  border: none;
  box-shadow: 2px 3px 0 0 #979797;
}
