@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: white!important;
  height: 100%;
  
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
}

header {
  background-color: #216583;
  min-height: 40px; 
  z-index: 10;
  top:0px;
}

.btn{
  background-color: #65C0BA;
  width: 80%;
  height: 30px;
  color: #fff;
  border: none;
  box-shadow: 2px 3px 0 0 #979797;
  margin: 30px 0px;
  cursor: pointer;
}

.logo {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}


.home{
 position: absolute;
 left: 10px;
 top: 5px;
}

.profile{
  position: absolute;
  right: 10px;
  top: 5px;
}

.text-field{
  width: 80%;
  margin: 20px 0px!important;
}

form {
  max-width: 800px;
  background-color: #fff;
  margin: 20px auto!important;
  padding: 0px!important; 
}