@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
}

.cta-button {
  display: flex;
  margin: auto;
  width: 100%;
  background-color: lightgrey;
  box-shadow: none;
  border: none;
  color: #fff;
  align-self: flex-end;
  position: absolute;
  bottom: 5%;
  text-align: center;
}

.cta-button:hover {
  background-color: grey;
}
